{% extends 'hola_mundo/base.html'%}


{%block titulo%} Listado de Personas {%endblock%}

{%block listado%}
<form action="{% url 'personas-buscar' %}" method="get">
    {{form.as_p}}
    <input type="submit" value="Buscar">
    <button onclick="event.preventDefault();window.location.href='{% url 'personas' %}'">Borrar filtro</button>
</form>
<ul>
    {%  for persona in personas %}
        <li>{{persona}}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block title %} Total: {{total_personas}} {% endblock %}
