{% extends "SocialTravel/base.html" %}

{% block main %}<ul>
    <h1> Lista de Posts</h1>

    {% if  not posts %}
        <h2>NO HAY POST</h2>
    {%endif %}

    {% for post in object_list  %}
    <li>
        {{post}} 
        <a href="{% url 'post-detail' post.id %}" > Detalle</a>
        {% if user.is_authenticated and post.publisher == user %}
            <a href="{% url 'post-update' post.id %}" > Actualizar</a>
            <a href="{% url 'post-delete' post.id %}" > Borrar</a>
        {% endif %}
    </li>
    {% endfor %} 
    </ul>
{% endblock %}